{% extends "user/userbase.html" %}

{% block user_content %}
  <h1>Schedule</h1>
  <div class="row">
    {% for schedule in schedules %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url "view_match" schedule.id %}">{{ schedule.tournament.name }}</a></h5>
            <p class="card-text">
              
            </p>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <p class="card-text">No schedule data available.</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
