{% extends "user/userbase.html" %}

{% block user_content %}
    <h1>Matches for {{ schedule.tournament.name }}</h1>
    <div class="row">
        {% for match in matches %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ match.team1  }} vs. {{ match.team2 }}
                        </h5>
                        <p class="card-text">
                            Match Date: {{ match.match_date }}<br>
                            Location: {{ match.location }}<br>
                            Status: {{ match.status }}<br>
                            Details: {{ match.score }}
                        </p>
                        
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No matches available.</p>
        {% endfor %}
    </div>
    
{% endblock %}
